<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.toddejohnson.biaslightswitch">
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiasLightSwitch">
        <activity
            android:name=".BiasActivity"
            android:banner="@drawable/tv_banner"
            android:exported="true"
            android:icon="@drawable/tv_banner"
            android:label="@string/app_name"
            android:logo="@drawable/tv_banner"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BiasUSBActivity"
            android:theme="@style/Theme.Transparent"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:taskAffinity="net.toddejohnson.net.biasreceiver.BiasUSBActivity"
            android:process=":BiasUSBActivityProcess"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <receiver
            android:name=".BiasAutoStart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BiasReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".BiasService"
            android:enabled="true"
            android:exported="false" />
    </application>



</manifest>